<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        body {
      background-color: #ffffcc; /* light yellow background color */
            }

    </style>
</head>
<body>

<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <div style="text-align: right;">

                <h2><span th:text="${username}"></span></h2>

                <form th:action="@{/logout}" method="post">
                    <button type="submit" value="Logout" class="btn btn-outline-primary">Logout</button>
                </form>
            </div>

            <h2><span th:text="'Notes: '+ ${listNotes.size()}"></span></h2>


            <a href="/note/create" class="btn btn-sm btn-primary d-grid gap-2">Create note</a>
            <form action="/note/search" method="GET">
                <div class="input-group mb-3 mt-3">
                    <input type="text" class="form-control form-control-sm" name="pattern">
                    <button class="btn btn-sm btn-outline-secondary" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>
                        <div class="text-center">Type</div>
                    </th>
                    <th>
                        <div class="text-center" style="max-width: 150px;"> Title</div>
                    </th>
                    <th>
                        <div class="text-center" style="max-width: 150px;"> Content</div>
                    </th>
                    <th>
                        <div class="text-center">Actions</div>
                    </th>
                </tr>
                <tr th:each="note: ${listNotes}">
                    <td>
                        <div class="text-center"><span th:text="${note.getNoteType} "></span></div>
                    </td>
                    <td>
                        <div class="d-inline-block text-truncate" style="max-width: 150px;"><span
                                th:text="${note.getTitle()}"></span></div>
                    </td>
                    <td>
                        <div class="d-inline-block text-truncate" style="max-width: 150px;">
                            <span th:text="${note.getContent()} "></span></div>
                    </td>
                    <td>
                        <div class="text-center">
                            <div th:if="${note.access}" class="form-inline">
                                <a th:href="'/note/delete?id='+${note.getId()}">
                                    <img src="https://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Actions-edit-delete-icon.png"
                                         alt="Delete" width="30" height="30">
                                </a>

                                <a th:href="'/note/edit?id='+${note.getId()}"
                                   style="padding: 0px 20px;">
                                    <img src="https://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Actions-document-edit-icon.png"
                                         alt="Edit" width="30" height="30">
                                </a>

                                <a th:href="'/note/share?id='+${note.getId()}" th:id="'copy-link-'+${note.getId()}">
                                    <img src="https://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Actions-edit-copy-icon.png"
                                         class="click-btn" alt="Copy link" width="30" height="30">
                                </a>

                            </div>

                            <div th:unless="${note.access}" class="form-inline">
                                <a th:href="'/note/share?id='+${note.getId()}">
                                    <img src="https://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Actions-edit-copy-icon.png"
                                         class="click-btn" alt="Copy link" width="30" height="30">
                                </a>

                            </div>
                        </div>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
  function copyLink(e) {
    e.preventDefault();

      var link = window.location.host + this.getAttribute("href");

    navigator.clipboard.writeText(link).then(function() {
      alert("Link copied to clipboard!");
    }, function() {
      alert("Failed to copy link to clipboard!");
    });
  }

  document.querySelectorAll("[id^='copy-link']").forEach(function(linkBtn) {
    linkBtn.addEventListener("click", copyLink);
  });
</script>

</body>
</html>
